language: java
sudo: false

jdk:
  - oraclejdk8

before_cache:
  - find $HOME/.gradle -name "*.lock" -type f -delete
  - find $HOME/.gradle -name "*.log" -type f -delete

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  - chmod +x gradlew

script:
  - ./gradlew check jacocoTestReport coveralls

before_deploy:
  - ./gradlew shadowJar

deploy:
  provider: releases
  api_key: ${GH_TOKEN}
  file: "**/libs/LogCleaner-*.jar"
  file_glob: true
  skip_cleanup: true
  on:
    tags: true